body {
    font-family: "Open Sans", sans-serif;
    margin : 0;
    padding : 0;
    justify-items: center;
}

h3 {
    text-align : center;
}

.box {
    height : 150px;
    width : 150px;
    border : 5px solid black;
    border-radius : 20px;
    margin : 10px;
}

.container {
    display : flex;
    flex-wrap: wrap;
    height : 360px;
    width : 360px;
}

.red {
    background-color : red;
}
.green {
    background-color : rgb(42, 171, 163);
}
.orange {
    background-color : orange;
}
.violet {
    background-color : rgb(153, 130, 238);
}

.flash {
    background-color : #fff;
}

.correct {
    background-color: #47c03e;
}

